
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start box */
.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.d-block {
    display: block;
}
/* End box */

/* Start padding + margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
} 

.pr-10 {
    padding-right: 10px;
}




.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5;
}

.mt-25 {
    margin-top: 25px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-0 {
    margin-top: 0;
}

.mr-15 {
    margin-right: 15px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}


.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15{
    margin-bottom: 15px;
}


.mb-20{
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom:40px ;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* End padding + margin */

/* Start font */
.txt-c {
    text-align: center;
}

.fs-25 {
    font-size: 25px;
}

.fs-15 {
    font-size: 15px;
}
.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fw-bold {
    font-weight: bold;
}
/* End font */
/* Start color */

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}



.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-grey {
    background-color: gray;
}

.bg-red {
    background-color: var(--red-color);
}

.c-white{
    color: white;
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}
/* End color */

/* Start position */

.p-relative {
    position: relative;
}

/* End position */

/* Start border */

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none;
}

.b-ccc {
    border: 1px solid #ccc;
}
/* End border */

/* Start width + height */

.w-full {
    width: 100%;
}

.c-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

/* End width + height */

/* Start componant */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shap {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End componant */

/* Start Media */
@media (max-width: 767px) {
    .txt-c-mobile{
        text-align: center;
    }

    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
    
}
/* End Media */